<div class="container">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5>Enlaces</h5>
            <ul class="nav flex-column ">
                <li class="nav-item mb-2 ">
                    <a href="#" class="nav-link p-0">Home</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Productos</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Carrito</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Contactos</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Contactos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" style="text-decoration: none; color: inherit;">+ 569 546 9442</a>
                    <br>
                    <a href="#" style="text-decoration: none; color: inherit;">+ 569 446 8851</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Direccion</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Av.Vicuña Mackenna
                        Region Metropolitana</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
            <form>
                <h5>Suscripción al boletin</h5>
                <p>Novedades y descuentos solo para ti</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="email" class="form-control" placeholder="Direccion de correo" />
                    <button class="btn btn-success" type="button">Suscripcion</button>
                </div>
            </form>
        </div>
        <hr class="featurette-divider" />
        <p>© 2026 Company, Inc. All rights reserved.</p>
    </div>
</div>